


{% block content%}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<div class="content">

    <h1>Add files here</h1>
    <div id="showme" style="display:none;">file uploaded.</div>
    <div id="loadingGif" style="display:none"><img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"></div>

    <form method="POST" action="/" enctype="multipart/form-data">
      <input type="text" name="key">
      <input type="file" name ="value">
      <input class= "button" type="submit" value="Add" style="background:#00a8af" onclick="$('#loading').show();">

    </form>
    <div id="loading" style="display:none;"><img src="loading.gif" alt="" />Loading the file!</div>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <table>
      <thead >
        <h3>List of files uploaded</h3>

        <tr>

      <th> File Name </th>
      <th> File type </th>
      <th> Upload time </th>
      <th>Download</th>
      <th> Delete</th>
      </tr>
      </thead>
      {% for b in record %}

      <tbody>
        <tr>
          <td>
            {{b.key}}
          </td>
          <td>
            {{b.ftype}}
          </td>
          <<td>
            {{b.uptime}}
          </td>
          <td>
            <form method="POST" action="./download" style="display: inline" enctype="multipart/form-data">
              <input type="hidden" value="{{b.key}}" name="key">
              <input style="background:#00a8af" class= "button" type="submit" value="Download">
            </form>
          </td>

          <td>
            <form method="POST" action="./delete" style="display: inline" enctype="multipart/form-data">
              <input type="hidden" value="{{b.key}}" name="key">
              <input style="background:#00a8af" class= "button" type="submit" value="Delete">
            </form>
          </td>

        </tr>
      </tbody>
        {% endfor %}
    <table/>
  </div>
  {% endblock %}
